<h2><%=params[:symbol]%> - <%=params[:description]%>Current price: <%=@price || 'price unavailable' %> </h2>
<h2>You hold <%= @record&.shares || 0 %> shares</h2>
<div>
	<form method='POST' action='/position'>
    	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    <input type="hidden" name="symbol" value="<%= params[:symbol] %>">
		<input type='submit', name='commit', value='buy'>
		<input type='submit', name='commit', value='sell'>
		<input type='number' placeholder='quantity' name='quantity'>
	</form>
</div>	
	

