<div class='symbol-name-two'>
	
	<img src='https://img.logo.dev/ticker/<%=params[:symbol]%>?token=pk_ZBCJebqoQXKBWVLhwcIBfg&retina=true'
	height='40' width='40'>
	
	<div class="stock-text">
		<p class="stock-symbol"><%=params[:symbol]%> </p>
		<p class="stock-name"><%= @name%> </p>
	</div>
		
	<%=react_component("StockPrice", {symbol: params[:symbol], marketPrice: @marketprice}, {class:
	"stock-price-container"})%>

</div>
	
	<div class ='chart-container'>
		<%= react_component("StockChart", {symbol:params[:symbol]}) %>
	</div>


	<div class='buy-sell-container'>
		<%= react_component("BuySell", {marketPrice: @marketprice, symbol: params[:symbol], id: current_user.id, balance:current_user.balance, holdings:@record&.shares, name:@name}) %>
	</div>

<div class='data-parent-container'>
	
	<% if @record %>
	
	<div class="holdings">
		<h2> Holdings </h2>
	</div>

	<div class='table-wrapper'>
	<table class='portfolio'>
		<tr class='heading-row'>
			<th class='positions-header'>Positions</th>
			<th class='quantity-header'>Quantity Held</th>
		</tr>

	  <tr class ='portfolio-row'>
	    <td class='symbol-cell'>
	      <a href='/stocks/<%=@record[:symbol]%>' class='symbol-name'>
			  
	  		<img src=   			'https://img.logo.dev/ticker/<%=@record[:symbol]%>?token=pk_ZBCJebqoQXKBWVLhwcIBfg&retina=true' 
	  		height='32' width='32'>
			
		    <div class="stock-text">
			<p class="stock-symbol"><%=@record[:symbol]%></p>
			<p class="stock-name"><%= @record[:name]%></p>	
		
		</div>
		
	      </a>
	    </td>
		<td class='shares-cell'>
	        <a href='/stocks/<%=@record[:symbol]%>' class='symbol-name'>
			<%=@record[:shares] %> shares
	        </a>
		
		</td>
	</tr>
	</table>
	</div>

	<%end%>
	
	<div>
		<h2 class='header-data-name'>Market Details</h2>
	</div>

	
	<%=react_component('MarketData', {symbol:params[:symbol]}, {class:'md-container'})%>
		


</div>