<div class='symbol-name-two'>
	
		<img src='https://img.logo.dev/ticker/<%=params[:symbol]%>?token=pk_ZBCJebqoQXKBWVLhwcIBfg&retina=true' 
		height='40' width='40'>
	    <div class="stock-text">
		<p class="stock-symbol"><%=params[:symbol]%> </p>
		<p class="stock-name"><%= @companydata.name%> - Current Price: <%= number_to_currency(@marketdata.price)%> </p>
		</div>
		
		
	</div>
	
	
	
	<div class ='chart-container'>
		<%= react_component("StockChart", {dailyData: @daily}) %>
	</div>


	<div class='buy-sell-container'>
		<%= react_component("BuySell", {marketPrice: @marketdata.price, userBalance: current_user.balance,
		userHoldings: @record&.shares, symbol: @marketdata.symbol}) %>
	</div>

<div class='data-parent-container'>
	
	<% if @record %>
	
	<div class="holdings">
		<h2> Holdings </h2>
	</div>

	<div class='table-wrapper'>
	<table class='portfolio'>
		<tr class='heading-row'>
			<th class='positions-header'>Positions</th>
			<th class='quantity-header'>Total Value</th>
		</tr>

	  <tr class ='portfolio-row'>
	    <td class='symbol-cell'>
	      <a href='/stocks/<%=@record[:symbol]%>' class='symbol-name'>
			  
	  		<img src='https://img.logo.dev/ticker/<%=@record[:symbol]%>?token=pk_ZBCJebqoQXKBWVLhwcIBfg&retina=true' 
	  		height='32' width='32'>
			
		    <div class="stock-text">
			<p class="stock-symbol"><%=@record[:symbol]%></p>
			<p class="stock-name"><%= @companydata.name%></p>	
		
		</div>
		
	      </a>
	    </td>
		<td class='shares-cell'>
	        <a href='/stocks/<%=@record[:symbol]%>' class='symbol-name'>
			<%=@record[:shares] %> shares
	        </a>
		
		</td>
	</tr>
	</table>
	</div>

	<%end%>
	
	<div>
		<h2 class='header-data-name'>Market Details</h2>
	</div>

<div class='market-data'>
	<div class>
		<p class='data-name'>Open</p>
		<p class='data-value'><%= number_to_currency(@marketdata.open)%></p>
	</div>
	
	<div>
		<p class='data-name'>52 week high</p>
		<p class='data-value'><%= number_to_currency(@companydata['52_week_high'])%></p>
	</div>
	
	<div>
		<p class='data-name'>Exchange</p>
		<p class='data-value'><%=@companydata.exchange%></p>
	</div>
	
	<div>
		<p class='data-name'>High</p>
		<p class='data-value'><%= number_to_currency(@marketdata.high) %></p>
	</div>
	
	<div class>
		<p class='data-name'>52 week low</p>
		<p class='data-value'><%= number_to_currency(@companydata['52_week_low'])%></p>
	</div>
	
	<div>
		<p class='data-name'>Market cap</p>
		<p class='data-value'>$<%= number_to_human(@companydata.market_capitalization)%></p>
	</div>
		
	
	<div>
		<p class='data-name'>Low</p>
		<p class='data-value'><%= number_to_currency(@marketdata.low) %></p>
	</div>
	
	
	<div>
		<p class='data-name'>Volume</p>
		<p class='data-value'><%= number_to_human(@marketdata.volume)%></p>
	</div>
	
	
	<div>
		<p class='data-name'>Currency</p>
		<p class='data-value'><%=@companydata.currency%></p>
	</div>
	
</div>

<div class='stock-description'>
	<h2 class='header-data-name'>Description</h2>
	<p class='data-value'><%=@companydata.description%></p>
</div>

</div>