<div class='home'>
<div class='home-left'>
	
	

<div class='port-value'>
	<h2>Your Portfolio value is:&nbsp;</h2>
	<%=react_component("PortfolioValue", {id: current_user.id, aum: @aum})%>
</div>

	<%= react_component("PortfolioChart", {dailyData: @daily}, class:'home-chart') %>

<div class="holdings">
	<h2> Holdings </h2>
</div>

<%=react_component("PositionsTable", {positions:@positions, id: current_user.id}, {class:"table-wrapper-one"})%>

</div>

<div class='home-right'>  

<div class ='button-container'>
	<%= react_component("AddButton") %>	  
	<%= react_component("WithdrawButton") %>
</div>

<div class='cb'>
<h2 class='cb-header'>Cash Balance: $<%=current_user&.balance&.round(2)%> </h2>
</div>

<div class='cb'>
<h2 class='cb-header'>Equity Ratio: <%=@equity%> </h2>
</div>

<div class='cb'>
<h2 class='cb-header'>Margin Call Status: <%=current_user.margin_call_status%> </h2>
</div>

</div>
</div>