<div class='home'>
<div class='home-left'>
	
	

<div class='port-value'>
<h2>Your Portfolio value is:&nbsp;$</h2>
<%=react_component("PortfolioValue")%>
</div>

	<div>
		<%= react_component("PortfolioChart", {dailyData: @daily}) %>
	</div>

<% if @positions.any?%>
<div class="holdings">
	<h2> Holdings </h2>
</div>

<div class='table-wrapper-one'>
<table class='portfolio'>
	<thead>
	<tr class='heading-row'>
		<th class='positions-header'>Positions</th>
		<th class='quantity-header'>Quantity Held</th>
	</tr>
</thead>
	
  <%@positions.each do |n|%>
  <tr class ='portfolio-row'>
    <td class='symbol-cell'>
      <a href='/stocks/<%=n[:symbol]%>' class='symbol-name'>
		  
		<img src='https://img.logo.dev/ticker/<%=n[:symbol]%>?token=pk_ZBCJebqoQXKBWVLhwcIBfg&retina=true' 
		height='32' width='32'>
		
	    <div class="stock-text">
		<p class="stock-symbol"><%=n[:symbol]%></p>
		<p class="stock-name"><%=n[:name]%></p>	
		</div>
		
      </a>
    </td>
	<td class='shares-cell'>
        <a href='/stocks/<%=n[:symbol]%>' class='symbol-name'>
		<%=n[:shares] %> shares
	</a>
	</td>
	
  </tr>
  
  <%end%>
</table>
</div>
  <%end%>
</div>

<div class='home-right'>  

<div class ='button-container'>
	<%= react_component("AddButton") %>	  
	<%= react_component("WithdrawButton") %>
</div>

<div class='cb'>
<h2 class='cb-header'>Cash Balance: $<%=current_user&.balance%> </h2>
</div>

<div class='cb'>
<h2 class='cb-header'>Equity Ratio: <%=PositionService.get_buying_power(user_id: current_user.id, balance: current_user.balance, used_margin: current_user.used_margin)&.dig(:equity_ratio) || 'N/A'%> </h2>
</div>

<div class='cb'>
<h2 class='cb-header'>Margin Call Status: <%=current_user.margin_call_status%> </h2>
</div>

</div>
</div>