<h2>Your current balance is: $<%=current_user&.balance%> </h2>

<table class='portfolio'>
  <tr>
    <th class='positions-header'>Positions</th>
    <th class='quantity-header'>Quantity</th>
  </tr>
  <%@positions.each do |n|%>
  <tr class ='portfolio-row'>
    <td class='symbol-cell'>
      <a href='/stocks/<%=n[:symbol]%>' class='symbol-name'>
        <%=n[:symbol] %>
      </a>
    </td>
	<td class='shares-cell'>
		<%=n[:shares] %> shares
	</td>
  </tr>
  <%end%>
</table>
</div>

<div class ='transfer'>
	<div class='transfer-form'>
		<%= react_component("AddButton") %>	  
		<%= react_component("WithdrawButton") %>
	</div>
</div>

  

	