<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Steak And Eggs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
	  <header>
		  <nav class='nav'>
		  <div class='main-logo'>
			  <a href = '/' class = 'logo'>
			 	  <%= image_tag "steak-and-eggs.svg", alt: "logo", class: "navbar-logo" %>
			  </a>
		  </div>
		  	<div class ='navbar'>
			  	<a class ='about-contact' href ='#'>About</a> 
			  	<a class= 'about-contact' href='#'>Contact Us</a>
				<a class ='login-link' href ='/login'>Log in</a>
				<a class = 'signup-link' href='signup'>Sign up</a>
			</div>
		  </nav>
	  </header>
    <%= yield %>
  </body>
</html>
