<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Steak And Eggs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
	  <header>
		  <nav class='nav'>
			  
		  <div class='main-logo'>
			  <a href = '/home' class = 'logo'>
			 	  <%= image_tag "steak-and-eggs.svg", alt: "logo", class: "navbar-logo" %>
			  </a>
		  </div>
		  
		  <div>
			  <a class='activity' href ='/home'>Home</a> 
		  </div>
			
  		  <div>
			  <a class='activity' href ='/activity'>Activity</a> 
		  </div>
		  
		  	<div class ='navbar-two'>
				
				<form method='GET' action='/search'>
					<input type='search' placeholder='search' name='search' class='searchbar'>
				</form>
				
				<div>
				<a class ='login-link' href ='/logout'>Log Out</a>
				</div>
				
			</div>
			
		  </nav>
	
	  </header>
	  	  
    <%= yield %>
    </div>
	
  </body>
</html>
